.hero {
  display: grid;
  background-color: black !important;
  background: radial-gradient(
      66.32% 66.32% at 54.13% 113.95%,
      rgba(108, 38, 255, 0.2) 0,
      rgba(242, 89, 255, 0) 100%
    ),
    linear-gradient(
      211.99deg,
      rgba(65, 157, 241, 0.2) -4.17%,
      rgba(28, 224, 70, 0) 68.7%
    ),
    radial-gradient(
      100% 100% at 28.65% 0,
      rgba(255, 0, 0, 0.25) 0,
      rgba(0, 85, 119, 0) 100%
    );
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 3rem;
}

.hero-2 {
  margin-top: 5rem;
  display: grid;
  background-color: black !important;
  background: radial-gradient(
      66.32% 66.32% at 54.13% 113.95%,
      rgba(108, 38, 255, 0.2) 0,
      rgba(242, 89, 255, 0) 100%
    ),
    linear-gradient(
      211.99deg,
      rgba(65, 157, 241, 0.2) -4.17%,
      rgba(45, 143, 234, 0) 68.7%
    ),
    radial-gradient(
      100% 100% at 28.65% 0,
      rgba(153, 0, 255, 0.25) 0,
      rgba(250, 247, 254, 0) 100%
    );
  box-shadow: 0 12px 40px 0 hsl(0, 0%, 100%), 0 3px 10px 0 hsl(0, 0%, 100%);
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 3rem;
}

.hero-3 {
  margin-top: 5rem;
  display: grid;
  background-color: black !important;
  background: radial-gradient(
      66.32% 66.32% at 54.13% 113.95%,
      rgba(108, 38, 255, 0.2) 0,
      rgba(242, 89, 255, 0) 100%
    ),
    linear-gradient(
      211.99deg,
      rgba(65, 157, 241, 0.2) -4.17%,
      rgba(45, 143, 234, 0) 68.7%
    ),
    radial-gradient(
      100% 100% at 28.65% 0,
      rgba(21, 255, 0, 0.25) 0,
      rgba(250, 247, 254, 0) 100%
    );
  box-shadow: 0 12px 40px 0 hsl(0, 0%, 100%), 0 3px 10px 0 hsl(0, 0%, 100%);
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 3rem;
}

.hero-4 {
  margin-top: 5rem;
  display: grid;
  background-color: black !important;
  background: radial-gradient(
      66.32% 66.32% at 54.13% 113.95%,
      rgba(108, 38, 255, 0.2) 0,
      rgba(242, 89, 255, 0) 100%
    ),
    linear-gradient(
      211.99deg,
      rgba(65, 157, 241, 0.2) -4.17%,
      rgba(45, 143, 234, 0) 68.7%
    ),
    radial-gradient(
      100% 100% at 28.65% 0,
      rgba(251, 255, 0, 0.25) 0,
      rgba(250, 247, 254, 0) 100%
    );
  box-shadow: 0 12px 40px 0 hsl(0, 0%, 100%), 0 3px 10px 0 hsl(0, 0%, 100%);
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 3rem;
}

.hero-5 {
  margin-top: 5rem;
  display: grid;
  background-color: black !important;
  background: radial-gradient(
      66.32% 66.32% at 54.13% 113.95%,
      rgba(108, 38, 255, 0.2) 0,
      rgba(242, 89, 255, 0) 100%
    ),
    linear-gradient(
      211.99deg,
      rgba(65, 157, 241, 0.2) -4.17%,
      rgba(45, 143, 234, 0) 68.7%
    ),
    radial-gradient(
      100% 100% at 28.65% 0,
      rgba(0, 217, 255, 0.25) 0,
      rgba(250, 247, 254, 0) 100%
    );
  box-shadow: 0 12px 40px 0 hsl(0, 0%, 100%), 0 3px 10px 0 hsl(0, 0%, 100%);
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 3rem;
}
